<%- include('../partials/header'); -%>
<h1>SIGN IN</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="UserName">
    <input type="password" name="password" placeholder="Password">
    <button>SIGN IN</button>
</form>
<%- include('../partials/footer'); -%>